@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.texto-centrado {
    text-align: center;
    font-size: 2em; /* Ajusta el tamaño de fuente según tus necesidades */
}